@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.bg-primary {
  background-color: #6366f1;
}

.hover\:bg-primary-dark:hover {
  background-color: #4f46e5;
}

.text-primary {
  color: #6366f1;
}

.hover\:text-primary:hover {
  color: #4f46e5;
}

